@font-face {
  font-family: "Montserrat";
  src: url("../../fonts/Montserrat/static/Montserrat-Black.tff");
}

@font-face {
  font-family: "GravitasOne";
  src: url("../../fonts/Gravitas_One/GravitasOne-Regular.ttf");
}
