@import url("./fonts.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: MontserratRegular;
}

a {
  text-decoration: none;
  color: black;
}

.container {
  width: 100%;
  position: relative;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  position: absolute;
}

.nav-items {
  display: flex;
  gap: 25px;
  list-style: none;
}

.nav-link {
  text-decoration: none;
  color: black;
}

.nav-link:hover {
  cursor: pointer;
  color: white;
}

#btn-nav-link {
  color: white;
  padding: 15px;
  border-radius: 7px;
  background-color: #113946;
}

.main-section {
  min-height: 80vh;
  padding: 20px;
  border-radius: 0px 0px 0px 85px;
}

#jumbotron {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.jumbo-image-box {
  width: 500px;
  height: 400px;
}

.jumbo-image {
  width: 100%;
  height: 100%;
}

.jumbo-text {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.jumbo-text-title {
  font-size: 45px;
}

.title-span {
  display: block;
  color: #113946;
}

.jumbo-text-subtitle {
  font-size: 20px;
}

.btn {
  width: fit-content;
  padding: 15px;
  outline: none;
  border: none;
  font-size: 15px;
  border-radius: 7px;
  background-color: #666;
  color: white;
  font-weight: bold;
}

.btn:hover {
  cursor: pointer;
}

.btn-link {
  text-decoration: none;
  color: white;
}

#top-book {
  margin-top: 30px;
}

.section-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  padding-top: 30px;
  width: 100%;
  gap: 10px;
}

.section-title {
  text-align: center;
  font-size: 30px;
}

.card-collections {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 300px));
  gap: 50px;
  justify-content: center;
  padding: 50px;
  margin: 0px 15px;
}

.card {
  padding: 15px;
  background-color: #EAD7BB;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  border-radius: 6px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition-property: box-shadow;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.card:hover {
  cursor: pointer;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.card-image-box {
  width: 100%;
  height: 300px;
  border-radius: 6px;
  overflow: hidden;
}

.card-image,
.motivation-image {
  width: 100%;
  height: 100%;
}

.card-title {
  text-align: center;
  font-weight: bold;
}

.card-info {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 10px;
  text-align: center;
  opacity: 0.8;
}

/* .card-description {
  text-align: justify;
} */

#banner-motivation {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.banner-motivation {
  width: 100%;
  max-width: 1000px;
}

.footer {
  padding: 20px;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-section {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

#social-media {
  gap: 20px;
}

.social-media-item {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.social-media-link {
  font-size: 20px;
  color: white;
}

#contact {
  gap: 40px;
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

#copyright {
  margin-top: 40px;
  font-size: 12px;
}